@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html,
body,
#root {
  height: 100%;
  overscroll-behavior: none;
}

button,
a,
input,
[role='button'] {
  user-select: none;
  -webkit-user-select: none;
}
